.cell {
    background-color: transparent;

    &:hover {
        background-color: lightgray;
    }

    .text {
        width: 85%;
        background: transparent;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        border: oldlace;

        &:hover {
            outline: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .btn_add {
        cursor: pointer;
        position: absolute;
        background: transparent;
        border: none;
        margin-left: -20px;
        margin-top: -3px;
    }

    .btn_add img {
        max-width: 25px;
    }

    .btn_del {
        cursor: pointer;
        position: absolute;
        background: transparent;
        border: none;
        margin-left: 10px;
        margin-top: -5px;
    }

    .btn_del img {
        max-width: 28px;
    }
}